<div class="container-fluid">
	<h2 class="page-header">Paciente</h2> 
	<% success = 0 %>
	<% if flash[:notice] %>
		<div class="alert alert-success" role="alert">
			<%= flash[:notice] %>
			<% success = 1 %>			
		</div>
	<% end %>
	<% 
	counter = @patient.errors.full_messages.count
	if counter > 0
	%>
		<div class="alert alert-danger" role="alert"> 
			<%= "Erro ao #{button_value} Paciente:"%>
			<% @patient.errors.full_messages.each do |message| %>
				<%= message %>
				<% counter -= 1 %>					
				<% if counter != 0 %>
					<%=p' , '%>
				<% end %>
			<% end %>
		</div>
	<% else %>
		<% if success != 1 %>
			<div class="alert alert-warning" role="alert"> 
				<p><%= button_value %> Paciente</p>
			</div>
		<% end %>
	<% end %>

	
	<%= form_for @patient do |f| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<h3 class="col-xs-12">Geral</h3>
				</div>
			</div>
			<div class="panel-body">
				<!-- Name -->
				<div class="form-group row _lessen-row">
					<label for="patient_name" class="control-label _sl col-sm-1 col-lg-1">Nome</label>
					<div class="col-xs-12 col-sm-4 col-lg-7">
						<%= f.text_field :name, class: "form-control" %>	 											
					</div>
				</div>
				<!-- E-mail -->
				<div class="form-group row _lessen-row">
					<label for="patient_email" class="control-label _sl col-sm-1 col-lg-1">E-mail</label>
					<div class="col-xs-12 col-sm-4 col-lg-7">
						<%= f.text_field :email, class: "form-control" %>											
					</div>
				</div>
				<!-- Telephones -->
				<div class="form-group row _lessen-row">
					<label for="patient_tellephone" class="control-label _sl col-sm-1 col-lg-1">Telefone</label>
					<div class="col-xs-6 col-sm-2 col-lg-3">											
						<%= f.text_field :tellephone, class: "form-control" %>											
					</div>
					<label for="patient_cellphone" class="control-label col-sm-1 col-lg-1">Celular</label>
					<div class="col-xs-6 col-sm-2 col-lg-3">					
						<%= f.text_field :cellphone, class: "form-control" %>						
					</div>
				</div>
				<!-- Birth date and gender -->
				<div class="form-group row _lessen-row">
					<label for="patient_birth" class="control-label _sl col-sm-1 col-lg-1">Nascimento</label>
					<div class="col-xs-6 col-sm-2 col-lg-3">
						<%= f.text_field :birth, class: "form-control" %>											
					</div>
					<label class="control-label _sl col-sm-1 col-lg-1">Sexo</label>
					<div class="radio-inline">
						<%= f.radio_button :gender, 'male' %><label class="_ls" for="patient_gender_male">Masculino</label>					
					</div>
					<div class="radio-inline">
						<%= f.radio_button :gender, 'female' %><label class="_ls" for="patient_gender_female">Feminino</label>						
					</div>
				</div>
				<!-- Accept e-mail -->
				<div class="form-group row _lessen-row" style="margin-top: -1em;">
					<label class="control-label _sl col-sm-1 col-lg-1" for="patient_mailAccept">Aceita</label>
					<label class="checkbox-inline">
						<%= f.check_box :mailAccept %>						
						<span class="_ls">envio de e-mails de confirmaçao</span>
					</label>			
				</div>
				<!-- Buttons -->
				<div class="button-group row _lessen-row">					
					<%= f.submit button_value, class: "btn btn-success" %>
					<%= link_to "Voltar", root_path,   
						class: "btn btn-default _btn-back"%>								
				</div>				
			</div>
		</div>
	<% end %>	
</div> 
