<% if @user_session.blank? %>
	<aside class="sidebar">
		<ul class="nav nav-sidebar">
			<% if @user_current.career == "healthcare" %>
				<li>
					<%= 
						link_to "Agenda", 
							index_consults_path(:user => @user_current),
							id: "index_consult",
							class: "_calendar"
					%>
				</li>
			<% else %>
				<li><a href="">
					<span class="_calendar"></span>Agenda</a>
				</li> 
				<% @answers.each do |answer| %>
					<%= 
						link_to answer.name, 
							index_consults_path(:user => answer),
							id: "index_consult"
					%>	
				<% end %>
			<% end %>					
			<li>			
				<%= 
					link_to "Pacientes", index_patients_path,					
						id: "index_patient",
						class: "_patients"
				%>			
			</li>
			<li>
				<%= 
					link_to "Convenios", index_insurances_path,
						id: "index_insurance",
						class: "_insurance"
				%>
			</li>
			<li>
				<%=
					link_to "Usuarios", index_users_path,
						id: "index_user",
						class: "_users"
				%>
			</li>
			<li><a href="" class=""><span class="_charts"></span>Graficos</a></li> 
			<li><a href="" class=""><span class="_reports"></span>Relatorios</a></li>
			<li><a href="" class=""><span class="_config"></span>Configuraçoes</a></li>
		</ul>
	</aside>
<% end %>